/* Comments Page CSS */

.header-left {
    margin-left: 36px !important;
    text-align: center;
//	background-color: yellow;
}

.header-left img {
    max-width: 30px;
    max-height: 30px;
}

.hl-left {
    margin-left: 6px;
    float: left;
//	background-color: pink;
}

.hl-right {
    margin-left: 12px;
    float: right;
//	background-color: green;
}

.header-date {
	font-weight: bold;
	color: rgba(0, 39, 59, 0.34902);
//	background-color: navy;
}

.header-name {
	color: rgb(119, 119, 119);
//	background-color: orange;
}

.header-right {
    margin-right: 72px !important;
}

.main-header {
	color: #666;
	font-family: 'Roboto', cursive;
	font-weight: 300;
	text-transform: uppercase;
}

