<?xml version="1.0"?>
<methodResponse>
<params>
<param>
<value><struct>
<member>
<name>events</name>
<value><array>
<data>

<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 1</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>1</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 1</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>1</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 2</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>2</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 2</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>2</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 3</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>3</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 3</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>3</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 4</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>4</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 4</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>4</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 5</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>5</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 5</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>5</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 6</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>6</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 6</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>6</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 7</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>7</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 7</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>7</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 8</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>8</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 8</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>8</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 9</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>9</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 9</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>9</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 10</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>10</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 10</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>10</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 11</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>11</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 11</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>11</int>
            </value>
            
        </member>
    </struct>
</value>


<value><struct>
        <member>
            <name>eventtime</name>
            <value>
                <string>3030-03-30 03:30:00</string>
            </value>
            
        </member>
        <member>
            <name>event</name>
            <value>
                <string>Subject Body # 12</string>
            </value>
        </member>
        <member>
            <name>anum</name>
            
            <value>
                <int>12</int>
            </value>
        </member>
        <member>
            <name>subject</name>
            <value>
                <string>Subject Title # 12</string>
            </value>
            
        </member>
        <member>
            <name>itemid</name>
            <value>
                <int>12</int>
            </value>
            
        </member>
    </struct>
</value>

                                   
</data>
</array>
</value>
</member>
</struct>
</value>
</param>
</params>
</methodResponse>
