/* Application CSS */

/* Header */

.main-header {
	font-size: 1.3em;
	font-family: 'Roboto', cursive !important;
	font-weight: 300 !important;
	text-transform: uppercase !important;
}

.feed-header-count {
	margin-left: 0.4em;
	font-size: 0.8em;
    padding: 0.2em 0.6em; 
    border: 0.2em solid #E2E7EA;
    border-radius: 2em;
    background: #939EA7;
}

.header-button {
    text-align: center;
	border-style: solid;
	border-width: 0.2em;
	border-radius: 3em !important;
    height: 2.6em;
    width: 2.6em;
}

.header-button:after {
    height: 2.6em;
    width: 2.6em;
    background-size: 1.8em 1.8em;
    margin-left: -1.3em;
    margin-top: -1.3em;
}

.main-footer {
    border: 0;
	background-color: transparent  !important;
}

/* Footer */

.main-footer {
	background-image: none;
//	background-color: rgb(37, 37, 37);
}

/* Content */

.ui-page {
	background: rgb(37, 37, 37);
}

.ui-content {
    overflow: hidden;
}

.main-content {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
	padding-top: 0;
	padding-bottom: 0.1em;
	background: rgb(37, 37, 37);
}

.main-body {
	padding-top: 0;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
    height: 100% !important;
    overflow-y: auto;
}

.footer-button {
    text-align: center;
	border-style: solid;
    border: 0;    
	margin: 0 auto !important;
}

.footer-li {
	background-color: transparent  !important;
}

@media only screen and
	(-webkit-max-device-pixel-ratio: 1) {
    .footer-li {
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
    }
	.footer-button {
		border-width: 0.2em;
		border-radius: 3em !important;
		height: 4em;
		width: 4em;
//		background-color: red !important;
	}
	.footer-button:after {
		height: 3em;
		width: 3em;
		background-size: 2em 2em;
		border-radius: 3em;
		margin-left: -1.5em;
		margin-top: -1.5em;
	}
}

@media only screen and
	(-webkit-min-device-pixel-ratio: 1) and
	(-webkit-max-device-pixel-ratio: 1.4) {
    .footer-li {
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
    }	
	.footer-button {
		border-width: 0.2em;
		border-radius: 3em !important;
		height: 4em;
		width: 4em;
//		background-color: yellow !important;
	}
	.footer-button:after {
		height: 3em;
		width: 3em;
		background-size: 2em 2em;
		border-radius: 3em;
		margin-left: -1.5em;
		margin-top: -1.5em;
	}
}

@media only screen and
	(-webkit-min-device-pixel-ratio: 1.5) and
	(-webkit-max-device-pixel-ratio: 1.9) {
    .footer-li {
	    margin-top: 0.2em;
	    margin-bottom: 0.2em;
    }
	.footer-button {
		border-width: 0.1em;
		border-radius: 2em !important;
		height: 3em;
		width: 3em;
//		background-color: green !important;
	}
	.footer-button:after {
		height: 2.8em;
		width: 2.8em;
		background-size: 1.8em 1.8em;
		border-radius: 2.8em;
		margin-left: -1.4em;
		margin-top: -1.4em;
	}
}

@media only screen and
	(-webkit-min-device-pixel-ratio: 2) {
    .footer-li {
	    margin-top: 0.2em;
	    margin-bottom: 0.2em;
    }
	.footer-button {
		border-width: 0.1em;
		border-radius: 2em !important;
		height: 3em;
		width: 3em;
//		background-color: pink !important;
	}
	.footer-button:after {
		height: 2.8em;
		width: 2.8em;
		background-size: 1.8em 1.8em;
		border-radius: 2.8em;
		margin-left: -1.4em;
		margin-top: -1.4em;
	}
}

@media screen and (min-width: 480px) {

}

@media screen and (max-width: 479px) {
	.main-content {
		padding-left: 0;
		padding-right: 0;
	}
	.main-body {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}

