/* Application CSS */

.main-header {
//	color: #666 !important;
	font-family: 'Roboto', cursive !important;
	font-weight: 300 !important;
	text-transform: uppercase !important;
}

.main-footer a {
//	color: #999 !important;
	font-size: .8em !important;
	font-family: 'Roboto', cursive !important;
	font-weight: 300 !important;
}

.main-content {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
}


