/* Feed Page CSS */

.avatar-box {
    width: 80px;
    height: 80px;
    text-align: center;
//	background-color: red;
}

.avatar-icon {
    vertical-align: middle;
    max-width: 48px;
    max-height: 48px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;    
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.title-box {
	width: 100%;
//	background-color: pink;
}

.date-box {
    width: 100px;
	font-weight: normal;
    text-align: center;
//	background-color: green;
}

.comments-box {
    width: 100px;
//	background-color: yellow;
}

.comments-box div {
	font-size: 160%;
}

.title-name {
	font-size: 140%;
	font-weight: normal;
    white-space: normal;
//	background-color: white;
}

.title-user {
}

.content-box {
    white-space: normal;
//	background-color: yellow;
}

.content-box img {
    max-width: 100%;
    height: auto;
}

.title-table {
    table-layout:fixed;
	width:100%;
    border-collapse: collapse;
}

.title-table td {
    padding: 0;
}

.content-item .ui-collapsible-content {  
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
//	background-color: green;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0 !important;
}
.ui-li-static.ui-collapsible {
    padding: 0 !important;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    padding: 0 !important;
    border-top-width: 0 !important;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0 !important;
}


